.leaflet-div-icon > svg {
    width: 32px !important;
    height: 32px !important;
    fill-opacity: 1;
    filter: drop-shadow(2px 0 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -1px 0 black);
}